nav {
  background-color: #e63946;
  margin: -9px;
  padding: 15px;
  border-bottom: 3px solid #ededed;
}
.nav {
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s;
}

.nav:hover {
  color: #b52a35;
  background-color: #ffe5e0;
  border-radius: 4px;
}

body {
  background-color: #fff9f1;
}

.card {
  margin: 20px;
  width: 150px;
  border: 2px solid #e6a157;
  border-radius: 4px;
  background-color: #fff5e6;
  transition: 0.6s;
  height: 200px;
  display: inline-block;
}

p {
  color: #b23a48;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

img {
  margin: 0 15px;
  border-radius: 4px;
}

.button {
  background-color: #ff7f50;
  color: white;
  border-color: #e64a19;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  transition: 0.6s;
}

.button:hover {
  background-color: #b23a48;
  color: #fff5e6;
  border-color: #7c2c2c;
}

.card-button {
  width: 92px;
  margin: 5px 26px;
}

.card:hover {
  background-color: #ffd8a8;
  border-color: #ff8c42;
  padding: 20px;
}
