nav {
  background-color: #e63946;
  margin: -9px;
  padding: 15px;
  border-bottom: 3px solid #ededed;
}
.nav {
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s;
}

.nav:hover {
  color: #b52a35;
  background-color: #ffe5e0;
  border-radius: 4px;
}

body {
  margin-right: -7px;
  background-color: #fdf6f0;
}
img {
  width: 100%;
  height: 550px;
  margin-top: 6px;
  margin-left: -7px;
  margin-right: -150px;
  border-radius: 8px;
}

#header {
  font-size: 36px;
  color: #b23a48;
  text-align: center;
  font-weight: bold;
}

#tagline {
  font-size: 20px;
  color: #7c2c2c;
  text-align: center;
  font-weight: bold;
}

.container {
  font-size: 18px;
}
